body {
background-color: #F6F9FC;
color: #403939;
font-family: 'PT Serif', serif;
font-size: 16px;
}
h1,h2,h3 {
font-family: 'Fira Sans', sans-serif;
}
h1 {	
	color: #84ca28;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 32px;
    text-transform: uppercase;
}

h2 {
	color: #a91196;
      font-size: 26px;
      font-weight: lighter;
      font-weight: 300;
}	
a {
	font-family: 'Fira Sans', sans-serif;
	text-decoration: none;
	color: #385898;
	font-weight: bold;
	font-size: 14px;
}
a:hover {
  	color: black;
 }

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
 .container {
 	width: : 600px;
 }
}


@media (max-width: 500px) {
 .container {
 	width: : 400px;
 }
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.14);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #B81D25;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(171, 166, 169);
}
.list-inline i:hover {
	color: black;
}
#introduction p {
	margin-bottom: 40px;
}



	